@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: "Roboto Mono", monospace;
}

.body,
.webpageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    background-color: rgba(1, 19, 30, 1);
    gap: 34px;
}

.themeChangerAndGithubIconsContainer{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 22px;
    margin-right: 36px;
}

.githubIconContainer{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 39, 63, 1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.themeChangerIconContainer{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 39, 63, 1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.timerContainer {
    width: 431px;
    height: 313px;
    border-radius: 25px;
    background-color: rgba(1, 28, 44, 1);
}

.timerHeader {
    font-size: 22px;
    font-weight: 400;
    margin-top: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.errorMessage {
    color: rgba(255, 0, 0, 1);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    visibility: hidden;
}


.timerInputsContainer {
    width: 387px;
    height: 87px;
    display: flex;
    gap: 30px;
    margin: auto;
    margin-top: 35px;
}

.hours,
.minutes,
.seconds {
    width: 109px;
    height: 87px;
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

label {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.darkModeInput {
    width: 55px;
    min-height: 59px;
    padding: 0px 27px;
    font-size: 45px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    outline: none;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 4px;
    background-color: rgba(234, 234, 234, 0);
    text-align: center;
}

.lightModeInput {
    width: 55px;
    min-height: 59px;
    padding: 0px 27px;
    font-size: 45px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    outline: none;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.darkModeInput::placeholder {
    font-size: 45px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.lightModeInput::placeholder{
    font-size: 45px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.darkModeThreeValueInput::placeholder{
    font-size: 30px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.lightModeThreeValueInput::placeholder{
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1)
}

.darkModeFourValueInput::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.lightModeFourValueInput::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}


.darkModeFiveOrMoreThanFiveValueInput::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.lightModeFiveOrMoreThanFiveValueInput::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

input::-webkit-inner-spin-button {
    display: none;
}

input{
  -moz-appearance: none;
}

.controlButtonsContainer {
    height: 40px;
    width: 384px;
    display: flex;
    gap: 15px;
    margin: auto;
    margin-top: 44px;
}

.startButton,
.pauseButton,
.resetButton {
    width: 118px;
    height: 40px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

@media only screen and (max-width: 433px) {
    .timerContainer {
        width: 320px;
    }

    .timerInputsContainer {
        width: 310px;
        height: 87px;
        display: flex;
        justify-content: center;

    }

    .hours,
    .minutes,
    .seconds {
        width: 80px;
        height: 87px;
        display: flex;
        flex-direction: column-reverse;
        gap: 12px;
    }

    .lightModeInput, .darkModeInput{
        width: 55px;
        height: 59px;
        padding: 0px 10px;
    }

    .controlButtonsContainer {
        height: 40px;
        width: 310px;
        display: flex;
        justify-content: space-around
    }

    .startButton,
    .pauseButton,
    .resetButton {
        width: 80px;
        height: 40px;
        border-radius: 3px;
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        outline: none;
    }

}
